<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jarvis.alpha.fluentbit</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/fluent-bit</string>
        <string>-c</string>
        <string>/Users/jarvisbrain/fluent-bit/fluent-bit.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jarvisbrain/fluent-bit/fluentbit.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jarvisbrain/fluent-bit/fluentbit_error.log</string>
</dict>
</plist>
