<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>com.jarvis.alpha.pg_backup</string>
<key>ProgramArguments</key>
<array>
<string>/bin/bash</string>
<string>{{HOME}}/jarvis-alpha/scripts/pg_backup_alpha.sh</string>
</array>
<key>StartCalendarInterval</key>
<dict>
<key>Hour</key>
<integer>2</integer>
<key>Minute</key>
<integer>30</integer>
</dict>
<key>WorkingDirectory</key>
<string>{{HOME}}/jarvis-alpha</string>
<key>StandardOutPath</key>
<string>{{HOME}}/jarvis/logs/pg_backup.agent.out.log</string>
<key>StandardErrorPath</key>
<string>{{HOME}}/jarvis/logs/pg_backup.agent.err.log</string>
<key>RunAtLoad</key>
<false/>
<key>EnvironmentVariables</key>
<dict>
<key>PATH</key>
<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
<key>JARVIS_NODE</key>
<string>brain</string>
<key>SECRETS_FILE</key>
<string>{{HOME}}/jarvis/.secrets</string>
</dict>
</dict>
</plist>
